#maintxt {
    text-align: center;
    font-size: 72px;
}

#txt1 {
    color: #FF8000;
    margin-top: 53px;
    text-align: center;
    font-size: 24px;
}

#txt2 {
    color: #D9AE00;
    margin-top: 63px;
    margin-left: 74.5px;
    font-size: 40px;
}

#txt3 {
    margin-top: 24px;
    margin-left: 74.5px;
    width: 681px;
}

#img1 {
    margin-top: 30px;
    margin-left: 74.5px;
    width: 696px;
    height: 415px;
}

#d1 {
    background-color: #FFCEBE;
    width: 879px;
    padding: 64px;
    margin-left: 74px;
    margin-top: 101px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid red;
    border-right: 2px solid red;
}

#txt4 {
    font-size: 40px;
    text-align: center;
}

#txt5 {
    padding-left: 90px;
    font-size: 20px;
    text-align: center;
    width: 681px;
}

#txt6 {
    color: blue;
    margin-top: 101px;
    width: 696px;
    height: 48px;
    font-size: 40px;
    text-align: right;
    margin-left: 74px;
}

#d3 {
    width: 696px;
    height: 190px;
    background-color: #FFC1E3;
    margin-left: 74px;
    border: 3px solid #FF5DA3;
}

#txt7 {
    color: #616161;
    font-size: 24px;
    text-align: right;
}

#txt8 {
    color: #414651;
    font-size: 24px;
    margin-top: 30px;
    margin-left: 74px;
}

#ul1 {
    font-size: 20px;
    width: 668px;
    list-style-type: none;
}

#img3 {
    padding-top: 5px;
}

li {
    margin-left: 20px;
    color: #C27512;

}
#li2 {
    margin-top: 8px;

}

#li3 {
    margin-top: 8px;
}

#t1 {
    width: 668px;
    color: #C27512;
    font-size: 16px;
    margin-left: 102px;
}


#Reactangle1 {
    position: relative;
    left: 70px;
    bottom: 50px;
}

#t3 {
    color: #C27512;
    width: 668px;
    font-size: 16px;
    position: relative;
    bottom: 40px;
    left: 102px;
}

#Reactangle2 {
    position: relative;
    left: 50px;
    top: 7px;
}

#t4 {
    color: #C27512;
    width: 668px;
    font-size: 16px;
    position: relative;
    left: 102px;
    bottom: 78px;
}

#Reactangle3 {
    position: relative;
    left: 70px;
    bottom: 25px;
}

#img3 {
    width: 696px;
    align-self: stretch;
    position: relative;
    left: 70px;
    bottom: 55px;
}

